<!DOCTYPE html>
<html>

<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Edit Band</title>
</head>

<body style="background-image:url('https://wallpapercave.com/wp/wp2289132.jpg');background-repeat: no-repeat;
  background-size: 100% ">
    <form action="/update" method="POST">
        <input type="hidden" value={{id}} name="id">
        <div style="width:800px; margin:auto;margin-top:400px;">
            <input type="text" name="bandname" class="form-control" placeholder="Edit Band..." aria-label="Band">
            <input type="submit" style="margin-top:10px" class="btn btn-primary btn-lg btn-block" value="Update">
        </div>

    </form>
</body>

</html>